
@import "tailwindcss";
@import "@nuxt/ui";

@theme {

  --font-sans: 'Public Sans', sans-serif;

  --color-primary-50: #FFF7E6;
  --color-primary-100: #FFE0B3;
  --color-primary-200: #FFC266;
  --color-primary-300: #FFAD33;
  --color-primary-400: #FF9900; 
  --color-primary-500: #E68900;
  --color-primary-600: #CC7A00; 
  --color-primary-700: #A86200;
  --color-primary-800: #804D00;
  --color-primary-900: #663E00;

  --color-white: #FFFFFF;
  --color-gray-50: #F5F5F5;
  --color-gray-100: #E5E5E5;
  --color-gray-500: #999999;
  --color-gray-900: #1F1F1F;

  --color-accent-500: #005B8F;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 font-sans antialiased;
}

a {
  color: var(--color-primary-400);
  transition: color 0.3s ease;
}
a:hover {
  color: var(--color-primary-600);
}

.button {
  @apply inline-block font-semibold rounded-md transition-all duration-300 px-6 py-3;
  background-color: var(--color-primary-400);
  color: var(--color-white);
}
.button:hover {
  background-color: var(--color-primary-600);
}

.section-light {
  background-color: var(--color-white);
}
.section-dark {
  background-color: var(--color-gray-50);
}

